<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Wrocation - Panel Administracyjny</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/content/dist/sweetalert.css")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Content/dist/sweetalert.min.js")
    </head>
<body @if (ViewBag.BackgroundImage != null) { <text> style="background-image:url(@ViewBag.BackgroundImage); background-size: 100% auto;" </text>   }
      @if (ViewBag.BodyClass != null) { <text> class=@ViewBag.BodyClass</text>}>
    
    <nav class="navbar navbar-default navbar-fixed-top ">
        <div class="container">
            @Html.Partial("WspolneMenuPartial")
        </div>
    </nav>


    <div class="container">

        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
        @RenderSection("featured", required: false)

        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Wrocation</p>
                    @RenderSection("stopka", required: false)
                </div>
            </div>
        </footer>
    </div>

    
    
</body>

</html>
