<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Event Finder</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Kategorie", "Kategorie", "Wydarzenia")</li>
        <li>@Html.ActionLink("Wydarzenia", "Wydarzenia", "Wydarzenia")</li>
        <li>@Html.ActionLink("Zarządaj operatorami", "Operator", "Operator")</li>
        <li>@Html.ActionLink("Analizy", "Analizy", "Analizy")</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
@if (Request.IsAuthenticated)
{
<text>
    <li><a href="@Url.Action("LogOff", "Account")" ><span class="glyphicon glyphicon-log-out"></span> Wyloguj @User.Identity.Name</a></li>
  </text>
}
else
{
    <li><a href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-log-in"></span> Zaloguj</a></li>
}
    </ul>
</div>