
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../Home/Index">WRO</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Strona główna", "../Home/Index") </li>
                <li>@Html.ActionLink("Pakiety zagadek", "../Bundle/List") </li>
                <li>@Html.ActionLink("Użytkownicy", "../User/List") </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <p class="navbar-text">Jesteś zalogowany @Context.User.Identity.Name</p>
                    <li><a id="link-logout" href="#">Wyloguj</a></li>

                    <script>
				$('#link-logout').click(
					function () {
						localStorage.clear();
						window.location.href = "@Url.Action("Logout","Account")";
						return false;
					});
                    </script>

                }
                else
                {
                    <li>@Html.ActionLink("Zaloguj", "../Account/Login") </li>
                }
            </ul>
        </div>
    </div>
</div>
