@model List<WroServer.Models.OperatorModel>

@{
    ViewBag.Title = "Operator";
}


<div class="row">
    <div class="col-md-1 btn btn-success spaceingBootstrapGrid" data-toggle="modal" data-target="#myModal" id="mainAddButton">
        Dodaj
    </div>
    <div class="col-md-1 btn btn-warning editButton tableText spaceingBootstrapGrid" id="editButtonId">
     Edytuj
    </div>
    <div class="col-md-1 btn btn-danger removeButton tableText spaceingBootstrapGrid" id="deleteButtonId">
     Usuń
    </div>
</div>
<table class="table table-striped" id="operatorTable">
    <thead>
    <tr></tr>
    <tr>
        <th>Login</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Kontakt</th>
        <th>Rola</th>
        <th></th>
        
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr id="@item.Id">
            <td id="login_@item.Id">
                <div id="loginLabel_@item.Id" class="loginLabel">
                    @item.Login
                </div>
                <div id="loginEdit_@item.Id" style="display:none" class="loginEdit">
                    <input type="text" class="form-control" value="@item.Login" id="loginEditTextBox_@item.Id"/>
                </div>
            </td>
@*-----------------------------------------------------------------------------------------------------*@
            <td id="name_@item.Id">
                <div id="nameLabel_@item.Id" class="nameLabel">
                    @item.Name
                </div>
                <div id="nameEdit_@item.Id" style="display:none" class="nameEdit">
                    <input type="text" class="form-control" value="@item.Name" id="nameEditTextBox_@item.Id" />
                </div>
            </td>
@*-----------------------------------------------------------------------------------------------------*@
            <td id="surname_@item.Id">
                <div id="surnameLabel_@item.Id" class="surnameLabel">
                    @item.Surname
                </div>
                <div id="surnameEdit_@item.Id" style="display:none" class="surnameEdit">
                    <input type="text" class="form-control" value="@item.Surname" id="surnameEditTextBox_@item.Id"/>
                </div>
            </td>
@*-----------------------------------------------------------------------------------------------------*@
            <td id="contactForm_@item.Id">
                <div id="contactFormLabel_@item.Id" class="contactLabel">
                 @{
                    @* Forma kontaktu*@
                    int contactForm = item.ContactForm;
                    switch (contactForm)
                    {
                    case 0:
                    <text>E-mail: </text>
                    break;
                    case 1:
                    <text>
                        Telefon:
                    </text>
                    break;
                    default:
                    <text>
                        Inny:
                    </text>
                    break;
                    }
                 }@item.Contact
                </div>
                <div id="contactFormEdit_@item.Id" style="display:none;" class="contactFormEdit">
                    <div class="col-md-9 col-xs-12 tresc-edycja">
                        <select id="contactFormEditDropDownEdit_@item.Id" class="btn btn-primary">
                            <option selected style="display:none;">Forma kontaktu</option>
                            <option class="form-control" value="0">E-mail</option>
                            <option class="form-control" value="1">Telefon</option>
                            <option class="form-control" value="2">Inne</option>
                        </select>
                    </div>
                    <div>
                        <input type="text" id="contactFormEditText_@item.Id" value="@item.Contact" class="form-control" />
                    </div>
                </div>
            </td>
@*-----------------------------------------------------------------------------------------------------*@
            <td id="role_@item.Id">
                <div id="roleLabel_@item.Id" class="roleLabel">


                    @{
                        int role = item.Role;
                        switch (role)
                        {
                            case 0:
                                <text>
                                    SuperAdmin
                                </text>
                                break;
                            case 1:
                                <text>
                                    Admin
                                </text>
                                break;
                            case 2:
                                <text>
                                    User
                                </text>
                                break;
                            default:
                                <text>
                                    Brak
                                </text>
                                break;
                        }
                    }
                </div>
                <div id="roleEdit_@item.Id" style="display:none;" class="role_edit">
                    <div class="col-md-9 col-xs-12 tresc-edycja">
                        <select id="roleEditDropDown_@item.Id" class="btn btn-primary">
                            <option selected style="display:none;">Rola</option>
                            <option class="form-control" value="0">SuperAdmin</option>
                            <option class="form-control" value="1">Admin</option>
                            <option class="form-control" value="2">User</option>
                        </select>
                    </div>
                </div>
            </td>
@*-----------------------------------------------------------------------------------------------------*@            
            <td id="buttons_@item.Id" style="width:17%;">
                <div id="buttonsLabel_@item.Id" class="buttonsLabel">
                    <span>
                        <input type="button" id="edit_@item.Id" class="subEditButton btn btn-warning" value="Edytuj" />
                        <input type="button" id="changePassword_@item.Id" class="changePassword btn btn-info" value="Zmień hasło" data-toggle="modal" data-target="#modalPassword" />
                    </span>
                    <div id="removeButton_@item.Id"><input type="button" id="delete_@item.Id" class="btn btn-danger deleteButton" value="Usuń operatora" /></div>
                </div>
                <div id="buttonsEdit_@item.Id" style="display:none;" class="buttonsEdit">

                    <input type="button" id="applyChanges_@item.Id" class="applyChanges btn btn-success" value="OK" />
                    <input type="button" id="cancelChanges_@item.Id" class="cancelChanges btn btn-danger" value="Anuluj" />

                </div>
            </td>                
        </tr>
    }
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dodaj użytkownika</h4>
            </div>

            <div class="modal-body row">
                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Login:
                    </div>
                    <div class="col-xs-4">
                        <input type="text" id="loginAdd" value="" class="form-control"/>
                    </div>
                </div>

                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Hasło:
                    </div>
                    <div class="col-xs-4">
                        <input type="password" id="passwordAdd" value="" class="form-control"/>
                    </div>
                </div>

                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Imię:
                    </div>
                    <div class="col-xs-4">
                        <input type="text" id="nameAdd" value="" class="form-control"/>
                    </div>
                </div>

                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Nazwisko:
                    </div>
                    <div class="col-xs-4">
                        <input type="text" id="surnameAdd" value="" class="form-control"/>
                    </div>
                </div>

                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Forma kontaktu:
                    </div>
                    <div class="col-xs-4">
                        <div class="dropdown" id="contactFormDropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Forma kontaktu
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Telefon</a></li>
                                <li><a href="#">E-mail</a></li>
                                <li><a href="#">Inne</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Kontakt:
                    </div>
                    <div class="col-xs-4">
                        <input type="text" id="contactAdd" value="" class="form-control"/>
                    </div>
                </div>

                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Rola:
                    </div>
                    <div class="col-xs-4">
                        <div class="dropdown" id="kla">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Rola
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="roleDropdown">
                                <li><a href="#">SuperAdmin</a></li>
                                <li><a href="#">Admin</a></li>
                                <li><a href="#">User</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    <button type="button" class="btn btn-success" id="addOperator">Dodaj operatora</button>
                </span>
            </div>
            
        </div>
    </div>
</div>

<div class="modal fade" id="modalPassword" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="passwordChangeLabel">Zmień hasło operatora</h4>
            </div>
            
            <div class="modal-body row">

            <div class="row spaceingBootstrapGridSmall">
                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Hasło:
                    </div>
                    <div class="col-xs-4">
                        <input type="password" id="passwordChange" value="" class="form-control" data-toggle="tooltip"/>
                    </div>
                </div>

                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Potwierdź hasło:
                    </div>
                    <div class="col-xs-4">
                        <input type="password" id="passwordChangeValidate" value="" class="form-control" data-toggle="tooltip"/>
                    </div>
                </div>

            </div>
            </div>
            <div class="modal-footer">
                <span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    <button type="button" class="btn btn-success" id="changePasswordButton">Zmień hasło</button>
                </span>
            </div>
        </div>
     
</div>
    </div>

<script>
    var passwordChangeId = "";
    var role1 = "";
    var contactForm;
    var numberOfTry = 0;
    //Dropdown
    $('#roleDropdown li a').click(function () {
             $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
             $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
             role1 = this.text;
             switch (this.text) {
                 case "SuperAdmin":
                     contactForm = 0;
                     break;
                 case "Admin":
                     contactForm = 1;
                     break;
                 default:
                     contactForm = 2;
                     break;
             }
         });
    //DropdownDoModala
    $('#contactFormDropdown li a').click(function () {
        $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
        switch (this.text) {
            case "Telefon":
                contactForm = 1;
                break;
            case "E-mail":
                contactForm = 0;
                break;
            default:
                contactForm = 2;
                break;
        }

    });
    //Tooltip
    $('#passwordChange').tooltip({ title: "Wprowadź nowe hasło.\n Hasło musi posiadać przynajmniej 8 znaków" });
    //Tooltip
    $('#passwordChangeValidate').tooltip({ title: "Hasła muszą się zgadzać." });
    //AddOperator
    $('#addOperator').click(function () {
        hideEdit();
            var link = "/api/OperatorApi/AddOperator";
            $(".removeButtonRedVisible").hide();
            $(".EditOperatorButton").hide();
            var operator = {};

            var contactType;
            
            operator.Login = $('#loginAdd').val();
            operator.Password = $('#passwordAdd').val();
            operator.Name = $('#nameAdd').val();
            operator.Surname = $('#surnameAdd').val();
            operator.ContactForm = contactForm;
            operator.Contact = $('#contactAdd').val();
            operator.Role = role1;
            
            

            jQuery.ajax({
                type: "POST",
                url: link,
                data: JSON.stringify(operator),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });

            function successFunc(data, status) {
                var rola = '';
                
                switch (role1) {
                    case 0:
                        rola = 'SuperAdmin';
                        break;
                    case 1:
                        rola = 'Admin';
                        break;
                    case 2:
                        rola = 'User';
                        break;
                default:
                }

                switch (contactForm) {
                    case 1:
                        contactType = "Telefon";
                        break;
                    case 2:
                        contactType = "E-mail";
                        break;
                    default:
                        contactType = "Inne";
                        break;
                }
                if (data.Surname != undefined) {
                    $('#operatorTable').append('<tr>' +
                        '<td>' + data.Login + '</td>' +
                        '<td>' + data.Name + '</td>' +
                        '<td>' + data.Surname + '</td>' +
                        '<td>' + contactType + ':' + data.Contact + '</td>' +
                        '<td>' + role1 + '</td>' +
                        '<td></td>'+
                        '</tr>');
                    swal({
                        title: "Dodano użytkownika!",
                        type: "success",
                        text:
                            "Dodano nowego użytkownika: " + data.Login,
                        timer: 1000,
                        showConfirmButton: false
                    });
                } else {
                    swal("Nie udało się :(", "Nie udało się dodać operatora, ponieważ któreś pole zostało źle wypełnione lub użytkownik już istnieje", "error");
                }
            }

            function errorFunc() {
                swal("Nie udało się :(", "Nie udało się ponieważ wystąpił błąd", "error");
            }
    });
    //chowanie i wyświetlanie przycisków usuń i edytuj
    $(document).ready(function () {
        $('#deleteButtonId').click(function () {
            $(".subEditButton").hide();
            $(".changePassword").hide();
            $(".deleteButton").toggle(500);
            console.log("txt "+$('#login_1').text());
            console.log("val " + $('#login_1').val());
            hideEdit();
        });
        $('#editButtonId').click(function () {
            $(".deleteButton").hide();
            $('#buttonsLabel_' + this.id).show();
            $(".subEditButton").toggle(500);
            $(".changePassword").toggle(500);
            hideEdit();
        });
        $('#mainAddButton').click(function () {
            hideEdit();
            $(".deleteButton").hide();
            $(".subEditButton").hide();
            $(".changePassword").hide();
        });
    });
    //Zmiany kolorów ramek przy wprowadzaniu nowego hasła
    $('#passwordChangeValidate').on('change', function () {
        if ($('#passwordChange').val() != $('#passwordChangeValidate').val()) {
            $('#passwordChange').css("border-color", "#f24437");
            $('#passwordChangeValidate').css("border-color", "#f24437");
        }
        else {
            $('#passwordChange').css("border-color", "#74ad5a");
            $('#passwordChangeValidate').css("border-color", "#74ad5a");
        }
    });
    //Zapisanie Id obiektu, który będzie miał edytowane hasło
    $(".changePassword").click(function () {
        passwordChangeId = this.id;
    });
    //Zmiana hasła
    $('#changePasswordButton').click(changePassword);
    //Zmiana reszty danych dotyczących opertora
    $('.subEditButton').click(function () {
        var id = this.id.substring(5);
        $("#loginEdit_" + id).show();
        $('#loginLabel_' + id).hide();
        $("#nameEdit_" + id).show(); 
        $('#nameLabel_' + id).hide();
        $("#surnameEdit_" + id).show();
        $('#surnameLabel_' + id).hide();
        $("#contactFormEdit_" + id).show();
        $('#contactFormLabel_' + id).hide();
        $("#roleEdit_" + id).show();
        $('#roleLabel_' + id).hide();
        $("#buttonsEdit_" + id).show();
        $('#buttonsLabel_' + id).hide();

        
        $('#contactFormEditDropDownEdit_' + id).val(getContactForm(id));
        $('#roleEditDropDown_' + id).val(getRole(id));

        /*var operator = {};
        operator.Id = this.id.substring(5);
        operator.login = $('#login_' + operator.Id).text();
        operator.name = $('#name_' + operator.Id).text();
        operator.surname = $('#surname_' + operator.Id).text();
        operator.contactForm = $('#contactForm_' + operator.Id).text();
        operator.role = $('#role_' + operator.Id).text();*/
    });
    //Anulowanie edycji
    $('.cancelChanges').click(function () {
        var id = this.id.substring(14);
        $("#loginEdit_" + id).hide();
        $('#loginLabel_' + id).show();
        $("#nameEdit_" + id).hide();
        $('#nameLabel_' + id).show();
        $("#surnameEdit_" + id).hide();
        $('#surnameLabel_' + id).show();
        $("#contactFormEdit_" + id).hide();
        $('#contactFormLabel_' + id).show();
        $("#roleEdit_" + id).hide();
        $('#roleLabel_' + id).show();
        $("#buttonsEdit_" + id).hide();
        $('#buttonsLabel_' + id).show();

        $('#loginEditTextBox_' + id).val($('#loginLabel_' + id).text().trim());
        $('#nameEditTextBox_' + id).val($('#nameLabel_' + id).text().trim());
        $('#surnameEditTextBox_' + id).val($('#surnameLabel_' + id).text().trim());
        $('#contactEditTextBox_' + id).val($('#contactLabel_' + id).text().trim().substring($('#contactLabel_' + id).text().trim().indexOf(":")));
  
        $('#roleEditDropDown_' + id).val(getRole(id));
        $('#contactFormEditDropDownEdit_' + id).val(getContactForm(id));

    });
    //Usuwanie operatora
    $('.deleteButton').click(function () {
            
       usunOperatora(this.id);
              
    });
    //Edycja operatora
    $('.applyChanges').click(function () {
        applyChanges(this.id);
    });

    function applyChanges(id) {
        var operator = {};
        operator.Id = id.substring(13);
        operator.Login = $('#loginEditTextBox_' + operator.Id).val();
        operator.Name = $('#nameEditTextBox_' + operator.Id).val();
        operator.Surname = $('#surnameEditTextBox_' + operator.Id).val();
        operator.Contact = $('#contactFormEditText_' + operator.Id).val();
        operator.ContactForm = $('#contactFormEditDropDownEdit_' + operator.Id).val();
        operator.Role = $('#roleEditDropDown_' + operator.Id).val();

        linkEdytuj = "/api/OperatorApi/UpdateOperator";
        swal({
            title: "Jesteś pewny?",
            text: "Czy na pewno chcesz zmienić dane operatora?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Tak, zmień!",
            cancelButtonText: "Nie, nie zmieniaj",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {

                jQuery.ajax({
                    type: "POST",
                    url: linkEdytuj,
                    data: JSON.stringify(operator),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: successFunc,
                    error: errorFunc
                });
                function successFunc(data, status) {
                    if (data != "failValidate") {
                        swal("Zaktualizowano!", "Aaaaa... Już po wszystkim, zaktualizowałeś dane", "success");
                        //dopisać aktualizacje Labelów
                    }
                    else
                        swal("Niepowodzenie", "Nie udało się ;(", "error");
                }

                function errorFunc() {
                    swal("Problem", "Wystąpił problem z edycją opearatora", "error");
                }
            }
            else { swal("Anulowano", "Ufff... Nic nie zmieniłeś", "error"); }
        });
        
    }
    //Funkcja zmiany hasła
    function changePassword() {

        var user = {};
        user.Id = passwordChangeId.substring(15);
        user.Password = $('#passwordChange').val();
        var passwordValidate = $('#passwordChangeValidate').val();
        var linkChange = "/api/OperatorApi/ChangePassword";

        if (user.Password == "") {
            swal("Niepowodzenie", "Niestety nie można zmienić hasła, ponieważ nie wpisano nowego hasła", "error");
        }
        else if (passwordValidate == "") {
            swal("Niepowodzenie", "Niestety nie można zmienić hasła, ponieważ nie wprowadzono hasła drugi raz", "error");
        }
        else {
            swal({
                title: "Jesteś pewny?",
                text: "Czy na prewno chcesz zmienić hasło?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Tak, zmień!",
                cancelButtonText: "Nie, nie zmianiaj",
                closeOnConfirm: false,
                closeOnCancel: false
            },
        function (isConfirm) {

            if (isConfirm) {
                swal("Zmieniono!", "Zmieniono hasło", "success");
                jQuery.ajax({
                    type: "POST",
                    url: linkChange,
                    data: JSON.stringify(user),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: successFunc,
                    error: errorFunc
                });
                function successFunc(data, status) {
                    if (data != "noExist") {
                        $("#" + data).closest('tr').remove();
                    }

                    else
                        swal("Niepowodzenie", "Niestety nie można zmienić hasła, ponieważ nie spełnia ono wymogów", "error");
                }

                function errorFunc() {
                    swal("Problem", "Wystąpił problem ze zmianą hasła", "error");
                }
            }
            else { swal("Anulowano", "Ufff... Nie zmieniłeś hasła", "error"); }
        });
        }

    }
    //Pobieranie rodzaju kontaktu (out int)
    function getContactForm(id) {

        var contactForm = $('#contactFormLabel_' + id).text().substring(0, $('#contactFormLabel_' + id).text().indexOf(":")).trim();

        switch (contactForm) {
            case "Telefon":
                contactForm = 1;
                break;
            case "E-mail":
                contactForm = 0;
                break;
            default:
                contactForm = 2;
                break;
        }
        return contactForm;
    }
    //Pobieranie roli (out int)
    function getRole(id) {
       
        var role = $('#roleLabel_' + id).text().trim();

        switch (role) {
        case "SuperAdmin":
            role = 0;
            break;
        case "Admin":
            role= 1;
            break;
        default:
            role = 2;
            break;
    }
        return role;
    }
    //Funkcja ukrywania i anulowania edycji
    function hideEdit() {

        $('.loginEdit').hide();
        $('.nameEdit').hide();
        $('.surnameEdit').hide();
        $('.contactFormEdit').hide();
        $('.role_edit').hide();
        $('.buttonsEdit').hide();
        $('.loginLabel').show();
        $('.nameLabel').show();
        $('.surnameLabel').show();
        $('.contactLabel').show();
        $('.roleLabel').show();
        $('.buttonsLabel').show();
    }
    //Usuń operatora
    function usunOperatora(id) {
        //usuwanie kaegorii, trzeba bedzie dodać jeszcze zabezpieczenia :) przekazuję sobie tylko IDiki
        var usunId = {};
        usunId.Id = id.substring(7);
        linkUsun = "/api/OperatorApi/RemoveOperator";
        swal({
            title: "Jesteś pewny?",
            text: "Czy na pewno chcesz usunąć operatora?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Tak, usuń!",
            cancelButtonText: "Nie, nie usuwaj",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function (isConfirm) {
            if (isConfirm) {
                
                jQuery.ajax({
                    type: "POST",
                    url: linkUsun,
                    data: JSON.stringify(usunId),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: successFunc,
                    error: errorFunc
                });
                function successFunc(data, status) {
                    if (data != "") {                        
                        $("#" + data).closest('tr').remove();
                        swal("Usunięto!", "Usunięto operatora", "success");
                    }
                    else
                        swal("Niepowodzenie", "Nie udało się usunąć", "error");
                }

                function errorFunc() {
                    swal("Problem", "Wystąpił problem z usuwaniem opearatora", "error");
                }
            }
            else { swal("Anulowano", "Ufff... Nie usunąłeś operatora", "error"); }
        });
    }
   
</script>


